html {
	font-family: 'Titillium Web', serif;
}

.tab-btn{
	margin-left:20px;
	font-family: 'Titillium Web', serif;
}

.tab-btn a{
	color: #363636 !important;
	/*font-weight: bold;*/
	text-shadow:  0 0 2px #ffffff;
}
.about {

	padding: 40px 0 !important;

	font-family: 'Titillium Web', serif;
}

.module-title {
	/*padding: 40px 40px !important;*/
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Titillium Web', serif;
}

.group {

	padding: 40px 0 !important;
	font-family: 'Titillium Web', serif;
}

.member-specialty {
	margin-left: 10%;
	margin-right: 10%;
}

.portfolio {
	padding:10px 0 !important;
	font-family: 'Titillium Web', serif !important;
}

.portfolio-item {
	padding: 20px 20px !important;
	font-family: 'Titillium Web', serif !important;
}
/*.filters {*/
	/*margin-top: -20px !important;*/
	/*margin-bottom: -20px !important;*/
	/*padding: 0 0 !important;*/
	/*font-family: 'Titillium Web', serif;*/
/*}*/

.filters > li {

	margin: 0 30px 20px;

}

footer {
	padding: 20px 20px !important;
	font-family: 'Titillium Web', serif;
}

.portfolio-caption{
	-webkit-transform: none !important;
	transform: none !important;
	font-family: 'Titillium Web', serif;
}

.team-item img {

	display:table-cell;
	vertical-align:middle;


}
body {
    overflow-x: hidden;
}
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 50px;
	width: 0;
	height: 100%;
	margin-left: 50px;
	overflow-y: auto;
	/*background: #000;*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}


/* Sidebar Styles */

.sidebar-nav {
	position: fixed;
	/*top: 0;*/
	width: 150px;
	margin: 0;
	padding: 0;
	/*list-style: none;*/
}

.sidebar-nav li {
	/*text-indent: -20px;*/
	line-height: 40px;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 0;
	}
	#wrapper.toggled {
		padding-left: 250px;
	}
	#sidebar-wrapper {
		width: 0;
	}
	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}

}