body{
  font-family: 'Titillium Web', serif!important;
  background-color: #ccc9c9c9!important;
}
.content-section {
  padding-top: 50px;
  padding-bottom: 100px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  background-color:#000000;
}

.panel-heading{
	margin-left:20px;
	font-family: 'Titillium Web', serif!important;
}
.btn:focus {
    outline: 0px !important;
}
.btn.active, .btn:active {
  background-color: rgb(10, 10, 10);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0);
  color: rgb(218, 218, 218);
}

.btn:hover{
  background-color:rgba(0, 0, 0, 1);
  color:rgb(255, 255, 255);
  text-decoration:none}

.btn-circle{
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
}

.btn-circle:hover{
  background-color:#548371;
  opacity: .5;
}

.btn {
    font-family: 'Titillium Web', serif!important;
    padding: 1% 1% !important;
    font-size: 1.2rem !important;
    color: #555555;
}

.fa {
    display: inline !important;
    padding: 5px !important;
  }

.shape-shuffle-container {
    overflow: visible !important;
    position: relative;
}

h2 {
	font-family: 'Titillium Web', serif !important;
}

.module-title {
	/*padding: 40px 40px !important;*/
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Titillium Web', serif!important;
}